In [1]:
from keras.layers import Convolution2D, MaxPooling2D, Flatten, Dense
from keras.models import Sequential

Using TensorFlow backend.

In [2]:
def CRP(model, xCRP, input_shape=None, pool_size=(2,2)):
    for i in range(len(xCRP)):
        if i ==1 and input_shape != None :
            model.add(Convolution2D(filters=32, kernel_size=(3,3), activation='relu', input_shape=input_shape))
        model.add(Convolution2D(filters=32, kernel_size=(3,3), activation='relu'))
        model.add(MaxPooling2D(pool_size=pool_size))
    return model
def Flat(model,xFlatten):
    model.add(Flatten())
    return model

def DenseLayer(model,xDense,output_shape=128):
    for i in range(len(xDense)) :
        if i == (len(xDense)-1) :
            model.add(Dense(units=output_shape, activation='relu'))
        model.add(Dense(units=128, activation='relu'))
    return model

In [3]:
model = Sequential()

In [ ]:
model.add(Convolution2D(filters=32, 
                        kernel_size=(3,3), 
                        activation='relu',
                        input_shape=(64, 64, 3)
                       )
         )
model.add(MaxPooling2D(pool_size=(2, 2)))

In [ ]:
model = CRP(model, [1,2])

In [ ]:
model.summary()

In [ ]:
model = Flat(model,[1])

In [ ]:
model.summary()

In [ ]:
model = DenseLayer(model,[1,2])

In [ ]:
model.summary()

In [ ]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [ ]:
x = {'crp': [{'c1': [{'filters': 'relu'}, {'strides': 215}]}, {'c2': [{'filters': 'relu'}, {'strides': 100}]}]}

In [ ]:
model.fit()

In [ ]:
len(x['crp'])

In [ ]:
t = {'crp': {'c1': [{'filters': 'relu'}, {'strides': 215}],'c2': [{'filters': 'relu'}, {'strides': 100}]}}

In [ ]:
len(t['crp'])

In [ ]:
try:
    print(t['axx'])
except:
    print("NO")

In [ ]:
t['crp']['c'+str(1)][0]

In [ ]:
t['axx'] = "AMMAN"

In [ ]:
q=[{'acc': None,
  'crp': {'c1': {'filters': 23, 'strides': 215},
          'c2': {'filters': 23, 'strides': 100}},
  'dense': {'d1': {'activation': 'relu', 'units': 22}}},
 {'acc': 88.11,
  'crp': {'c1': {'filters': 23, 'strides': 215},
          'c2': {'filters': 23, 'strides': 100}},
  'dense': {'d1': {'activation': 'relu', 'units': 22}}}]

In [ ]:
len(q)

In [ ]:
q[0]

In [ ]:
model.layers[3].get_weights()

In [4]:
model.weights

[]

In [5]:
from keras.models  import load_model

In [6]:
x = load_model('mnist_LeNet.h5')

In [21]:
x.layers[3].weights[1]

<tf.Variable 'conv2d_2/bias:0' shape=(50,) dtype=float32, numpy=
array([-0.03831211, -0.10060621, -0.02984662, -0.09092426, -0.08284897,
       -0.08096086, -0.0019493 , -0.03317228, -0.02385802, -0.00704734,
       -0.06393203, -0.05988874,  0.02510092, -0.01013677, -0.00612357,
       -0.00174351, -0.00251232, -0.03554267,  0.01789839, -0.08194932,
       -0.04331845, -0.03868534, -0.06019525,  0.01343531, -0.04273465,
       -0.08132988, -0.0524475 , -0.0269436 , -0.0861821 , -0.06150483,
       -0.02752667,  0.01942797, -0.08645082, -0.04187482, -0.02184403,
       -0.03368938, -0.02114595, -0.03001246, -0.0129719 , -0.00245799,
       -0.02258467, -0.01517271, -0.00135393, -0.02796241, -0.00145167,
       -0.07594425, -0.05240994, -0.05736405,  0.00399891, -0.00464757],
      dtype=float32)>

In [1]:
# ### Let's construct LeNet in Keras! 
# #### First let's load and prep our MNIST data

from keras.preprocessing.image import ImageDataGenerator
from keras.models import Sequential
from keras.layers import Dense, Dropout, Activation, Flatten
from keras.layers import Conv2D, MaxPooling2D, ZeroPadding2D
from keras.layers.normalization import BatchNormalization
from keras.regularizers import l2
from keras.datasets import mnist
from keras.utils import np_utils
import keras

# loads the MNIST dataset
(x_train, y_train), (x_test, y_test)  = mnist.load_data()

# Lets store the number of rows and columns
img_rows = x_train[0].shape[0]
img_cols = x_train[1].shape[0]

# Getting our date in the right 'shape' needed for Keras
# We need to add a 4th dimenion to our date thereby changing our
# Our original image shape of (60000,28,28) to (60000,28,28,1)
x_train = x_train.reshape(x_train.shape[0], img_rows, img_cols, 1)
x_test = x_test.reshape(x_test.shape[0], img_rows, img_cols, 1)

# store the shape of a single image 
input_shape = (img_rows, img_cols, 1)

# change our image type to float32 data type
x_train = x_train.astype('float32')
x_test = x_test.astype('float32')

# Normalize our data by changing the range from (0 to 255) to (0 to 1)
x_train /= 255
x_test /= 255

# Now we one hot encode outputs
y_train = np_utils.to_categorical(y_train)
y_test = np_utils.to_categorical(y_test)

num_classes = y_test.shape[1]
num_pixels = x_train.shape[1] * x_train.shape[2]


# ### Now let's create our layers to replicate LeNet


# create model
model = Sequential()

Using TensorFlow backend.

In [2]:
# 2 sets of CRP (Convolution, RELU, Pooling)
model.add(Conv2D(filters=20, kernel_size=(5,5),padding="same"))

In [1]:
a = [{"name":"layer1","acc": 100}, {"name":"layer2","acc": 10}, {"name":"layer3","acc": 99}]

In [6]:
if a[-1]['acc']==99:
    print(x)

{'name': 'layer3', 'acc': 99}

In [80]:
import pandas as pd
import yaml

In [134]:
a = pd.read_csv('hPara.csv').to_dict()

In [77]:
r = {'no_CRP_layers':3, 'no_Dense_layers':3 , 'epochs':2, 'acc':80}

In [78]:
a = a.append(r,ignore_index=True,sort=False)

In [130]:
from numpy import genfromtxt
my_data = genfromtxt('hPara.csv', delimiter=',')

In [131]:
my_data

array([[nan, nan, nan, nan],
       [ 1.,  1.,  1., nan]])

In [135]:
a

{'no_CRP_layers': {0: 1, 1: 2},
 'no_Dense_layers': {0: 1, 1: 2},
 'epochs': {0: 1, 1: 2},
 'acc': {0: nan, 1: nan}}

In [139]:
a['no_CRP_layers'][0]

1

In [149]:
import csv
with open("hPara.csv", "r") as f:
    reader = csv.DictReader(f)
    a = list(reader)
    print(a)

[{'no_CRP_layers': '1', 'no_Dense_layers': '1', 'epochs': '1', 'acc': ''}, {'no_CRP_layers': '2', 'no_Dense_layers': '2', 'epochs': '2', 'acc': ''}]

In [174]:
a = pd.read_csv('hPara.csv')

In [175]:
a

   no_CRP_layers  no_Dense_layers  epochs  acc
0              1                1       1  NaN
1              1                1       2  NaN
2              1                1       3  NaN

In [176]:
a1 = a.where(pd.notnull(a), None)

In [177]:
a1

   no_CRP_layers  no_Dense_layers  epochs   acc
0              1                1       1  None
1              1                1       2  None
2              1                1       3  None

In [173]:
a

   no_CRP_layers  no_Dense_layers  epochs  acc
0              1                1       1  NaN

In [231]:
r = {'no_CRP_layers':3, 'no_Dense_layers':3 , 'epochs':2, 'acc':None}

In [236]:
a1 = a1.append(r,ignore_index=True,sort=False)

In [237]:
a1

   no_CRP_layers  no_Dense_layers  epochs  acc
0            1.0              1.0     1.0  NaN
1            1.0              1.0     2.0  NaN
2            1.0              1.0     3.0  NaN
3            3.0              3.0     2.0  NaN
4            3.0              3.0     2.0  NaN
5            3.0              3.0     2.0  NaN
6            3.0              3.0     2.0  NaN

In [234]:
a1.to_csv('file2.csv',index=False)

In [228]:
a1 = pd.read_csv('file2.csv')

In [229]:
a2 = a1.where(pd.notnull(a1), None)

In [230]:
a2

   no_CRP_layers  no_Dense_layers  epochs   acc
0              1                1       1  None
1              1                1       2  None
2              1                1       3  None
3              3                3       2  None
4              3                3       2  None

In [209]:
a2.iloc[-1,3]=4

In [210]:
a2

   no_CRP_layers  no_Dense_layers  epochs   acc
0              1                1       1  None
1              1                1       2  None
2              1                1       3  None
3              3                3       2     4

In [211]:
x = a2.iloc[-1,:]

In [218]:
x

no_CRP_layers      3
no_Dense_layers    3
epochs             2
acc                4
Name: 3, dtype: object